* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

/* HEADER SECTION */
header {
  /* background-color: #DE5940; */
  display: flex;
}

header section {
  background: url("header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  width: 100%;
  margin: 0 auto;
}

header h1 {
  color: #E75513;
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  margin: 0;
  padding: 10px 10px 0px;
}

header h2 {
  color: ##A9EEFF;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0px 10px 600px 10px;
}

header img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}

.nav-links {
  color: #E75513;
  display: flex;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  padding: 100px 0;
}

/* ABOUT ME SECTION */
.about-me-section {
  background-color: #E75513;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  line-height: 150%;
  margin: 0 auto;
  padding: 75px 75px;
}

/* PORTFOLIO SECTION */
.portfolio {
    background-color: #2D99B7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 100px 25px;
}

article {
  font-family: 'Raleway', sans-serif;
}











/* FOOTER SECTION */
